* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #fafafa;
}

.header {
    background-color: #fff;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#content section {
    padding: 20px;
}

.product-item img, .case-item img {
    width: 100%;
    max-width: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.case-item button {
    padding: 10px 20px;
    background-color: #ffd700;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#money-button {
    display: block;
    margin: auto;
    width: 200px;
    cursor: pointer;
}

#clicks-left {
    display: block;
    text-align: center;
    margin-top: 10px;
}